<main>
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 fw-normal">CsGame for Game</h1>
      <p class="lead fw-normal">Csgame'e hoşgeldiniz.CsGame ile envanterinizi renklendirebilir , dilediğiniz zaman tekrar satabilirsiniz. </p>
      <a class="btn btn-outline-secondary" routerLink="/urunler">Ürünleri gör</a>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>

  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Ürün ekle</h2>
        <p class="lead">Kullanmadığın ürünleri satabilirsin.</p>
      </div>
      <img style="width: 550px;height: 300px" src="../../../assets/sell.jpg">
    </div>

    <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Ürün al</h2>
        <p class="lead">Kolayca ürün satın alabilirsin</p>
      </div>
      <img style="width: 550px;height: 300px" src="../../../assets/buy.jpg">
    </div>
  </div>
</main>
