<div *ngIf="kisi" style="margin:auto;margin-top: 20px" class="profile">
  <figure>
    <img src="https://www.webtekno.com/images/editor/default/0001/81/271b726e387060a6438584b06ce941920c1e415f.jpeg" alt="" />
  </figure>
  <header >
    <h1>{{kisi.name+" "+kisi.secondName}}<br>
      <small>{{kisi.userName}}</small></h1>
  </header>

  <div class="toggle">
    <input type="checkbox" class="view_details" id="view_details">
    <label for="view_details" title="tap here to view full profile">☰</label>
  </div>
  <main>
    <dl>
      <dt>İsim</dt>
      <dd>{{kisi.name}}</dd>
      <dt>Soyisim</dt>
      <dd>{{kisi.secondName}}</dd>
      <dt>E-mail adresi</dt>
      <dd>{{kisi.emailAdress}}</dd>
      <dt>Social</dt>
      <dd>
        <a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
      </dd>
    </dl>
  </main>

</div>
