<div  class="modal modal-signin position-static d-block bg-secondary py-5" tabindex="-1" role="dialog" id="modalSignin" style="height: 100%">
  <div class="modal-dialog" role="document" >
    <div class="modal-content rounded-5 shadow">
      <div class="modal-header p-5 pb-4 border-bottom-0">
        <h2 class="fw-bold mb-0">Giriş yapın</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body p-5 pt-0">
        <form class="">
          <div class="form-floating mb-3">
            <input type="email" class="form-control rounded-4" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email veya kullanıcı adı</label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control rounded-4" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Şifre</label>
          </div>
          <button class="w-100 mb-2 btn btn-lg rounded-4 btn-primary" type="submit">Giriş yap</button>
          <hr class="my-4">
          <h2 class="fs-5 fw-bold mb-3">Hesabınız yok mu ?</h2>
          <button routerLink="/sign-up" class="w-100 py-2 mb-2 btn btn-outline-dark rounded-4" type="button"><svg class="bi me-1" width="16" height="16" ></svg>Üye ol</button>
          <button class="w-100 py-2 mb-2 btn btn-outline-primary rounded-4" type="button"><svg class="bi me-1" width="16" height="16"><use xlink:href="#facebook"/></svg>Facebook ile giriş yap</button>
        </form>
      </div>
    </div>
  </div>
</div>

